@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BookList demo</h1>
    <hr/>
    <p>a simple application featuring CRUD operations on book list <br/>using both Razor pages and Controller API</p>
</div>
